body.fModal-opened

  div.fModal-page
    h1.page-ttl Normal Contents

    ul.list-wrapper.clear_fix
      li.fModal-open MODAL OPEN-1
      li.fModal-open MODAL OPEN-2
      li.fModal-open MODAL OPEN-3

  .fModal-modal
    .fModal-load: img.loading(src!= "/assets/images/what/loading.gif" alt!="")
    .fModal-close &times;
    .fModal-prev &#60;
    .fModal-next &#62;

    .fModal-modal_cont
      -for(var i=0; i<3; i++){
        .fModal-modal_cont_item
          div
            img.fModal-lazy(data-original= "/assets/images/what/img_" + (i+1) + ".jpg" alt="")
            p.lead This is modal contents.
            .paging
              span.page-current
              | / 
              span.page-length
      -}